DISCORD_TOKEN=
DISCORD_APPLICATION_ID=
DISCORD_PUBLIC_KEYS=
DISCORD_PERMISSION_BOT_INTERGER=
DISCORD_CLIENT_SECRET=
#NAMEKEY = DISCORD-BOT-PAID
API_KEY_OPENROUTER_PAID=
#NAMEKEY = DISCORD-BOT-FREE
API_KEY_OPENROUTER_FREE=

PAID_model=